* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Giúp tính toán kích thước hộp chính xác hơn */
}
.container {
  display: flex;
        align-items: center;
        justify-content: center;
    background-color:#3d3d3a;
    height:100%;
    width:100%;
}
.card{
    padding: 30px;
    width: 50%;
    height: 100%;
    background-color: #333333;
    /* border-radius: 30px;
    border: 1px solid #ceccc5; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    
    font-family: 'Arial', sans-serif;
    color: #BDBBB0;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.avatar{
     
    position: relative;
    
    border-style: groove;
  margin: 15px;
  width: 280px;
  height: 280px;

  /* Cắt ảnh để lấp đầy khung mà không làm biến dạng tỷ lệ */
  object-fit: cover; 
  /* Bạn có thể chỉnh vị trí cắt bằng object-position */
  object-position: top; /* hoặc top, bottom, 20% 50% */
}
/* .myself{
   background-color: #121211;
    padding: 20px;  
    width: ;
   display: block;

    text-align: center;
    border-radius: 10px;
} */